## Preprocessing

In [2]:
# Import our dependencies
from google.colab import files
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import io

#  Import and read the charity_data.csv.
uploaded = files.upload()
application_df = pd.read_csv(io.StringIO(uploaded['charity_data.csv'].decode('utf-8')))
application_df.head()

Saving charity_data.csv to charity_data.csv

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN','NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [20]:
# Determine the number of unique values in each column.
unique = application_df.nunique()
unique

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [22]:
# Look at APPLICATION_TYPE value counts for binning
application_types_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [55]:
# Bin APPLICATION_TYPE value to 'T3' and 'other'
application_types_to_replace = application_df['APPLICATION_TYPE'].unique().tolist()
application_types_to_replace.remove('T3')
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     7262
Name: APPLICATION_TYPE, dtype: int64

In [58]:
# Look at CLASSIFICATION value counts for binning
CLASSIFICATION_counts = application_df['CLASSIFICATION'].value_counts()
CLASSIFICATION_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [59]:
# Check CLASSIFICATION value counts >1
CLASSIFICATION_counts = application_df['CLASSIFICATION'].value_counts().loc[lambda x:x>1]
CLASSIFICATION_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [60]:
# Choose a cutoff value and create a list of classifications to be replaced
# Bin CLASSIFICATION value to 'T3' and 'other'
classifications_to_replace = application_df['CLASSIFICATION'].unique().tolist()
classifications_to_replace.remove('C1000')

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
Other    16973
Name: CLASSIFICATION, dtype: int64

In [65]:
# Convert categorical data to numeric with `pd.get_dummies`
dummied = pd.get_dummies(application_df)
dummied

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T3,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,1,0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,1,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,1,0,0,1,0,0,...,0,0,0,0,1,0,0,0,1,0

In [67]:
# Split data into features and target arrays
X = dummied.drop('IS_SUCCESSFUL',axis=1)
y = dummied['IS_SUCCESSFUL']
# Split the preprocessed data into a training and testing dataset
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=20)

In [68]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [70]:
# Define the model
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = 5, activation = 'relu', input_dim = 32))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units = 5, activation = 'relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, activation = 'sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 5)                 165

 dense_4 (Dense)             (None, 5)                 30

 dense_5 (Dense)             (None, 1)                 6

=================================================================
Total params: 201
Trainable params: 201
Non-trainable params: 0
_________________________________________________________________

In [72]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])

In [73]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train, epochs = 50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6481 - accuracy: 0.6567
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6054 - accuracy: 0.6950
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5995 - accuracy: 0.7011
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5972 - accuracy: 0.7014
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5960 - accuracy: 0.7020
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5956 - accuracy: 0.7029
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5951 - accuracy: 0.7044
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5947 - accuracy: 0.7039
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5946 - accuracy: 0.7043
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5940 - accuracy: 0.7050
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5939 - accuracy: 0.7045
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5937 - accuracy: 0.7048
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5935 - accuracy: 0.7051
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5934 - accuracy: 0.7041
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5933 - accuracy: 0.7043
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5928 - accuracy: 0.7046
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5926 - accuracy: 0.7044
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5924 - accuracy: 0.7042
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5920 - accuracy: 0.7035
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5917 - accuracy: 0.7044
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5914 - accuracy: 0.7035
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5913 - accuracy: 0.7038
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5909 - accuracy: 0.7046
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5912 - accuracy: 0.7038
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5909 - accuracy: 0.7030
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5908 - accuracy: 0.7032
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5905 - accuracy: 0.7048
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5906 - accuracy: 0.7039
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5903 - accuracy: 0.7043
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5902 - accuracy: 0.7036
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5901 - accuracy: 0.7039
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5901 - accuracy: 0.7030
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5901 - accuracy: 0.7039
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5896 - accuracy: 0.7038
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5898 - accuracy: 0.7039
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5897 - accuracy: 0.7043
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5896 - accuracy: 0.7033
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5894 - accuracy: 0.7037
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5894 - accuracy: 0.7035
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5892 - accuracy: 0.7037
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5893 - accuracy: 0.7033
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5892 - accuracy: 0.7038
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5891 - accuracy: 0.7034
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5892 - accuracy: 0.7039
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5890 - accuracy: 0.7041
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5889 - accuracy: 0.7038
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5890 - accuracy: 0.7031
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5887 - accuracy: 0.7041
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5885 - accuracy: 0.7038
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5886 - accuracy: 0.7037

In [74]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6050 - accuracy: 0.6934 - 449ms/epoch - 2ms/step
Loss: 0.6049799919128418, Accuracy: 0.6934110522270203

In [79]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')
files.download('AlphabetSoupCharity.h5')